#ARTATAWE1 {
    -fx-font: 45px "Vivaldi";
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, blue 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 0.4;
    
}

#ARTATAWE2 {
    -fx-font: 25px "Vivaldi";
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, blue 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 0.4;
    
}