#backgroundGradientEffect {
	-fx-background-color: linear-gradient(to bottom, #f2f2f2, #778899);
}

#fancytext {
    -fx-font: 100px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}