#ARTATAWE1 {
    -fx-font: 45px "Freestyle Script";
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, blue 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 0.4;
    
}

#ARTATAWE2 {
    -fx-font: 25px "Freestyle Script";
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, blue 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 0.4;
    
}

#ARTATAWE3 {
    -fx-font: 35px "Freestyle Script";
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, blue 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 0.4;
    
}

#PANE {
	-fx-background-image: url("Background.jpg");
	-fx-background-size: cover;
}

#WHITETEXT {
	-fx-fill: white;
	-fx-effect: dropshadow(three-pass-box, black, 10, 0.0, 2, 2);
}

#INFORMATIONHIGHLIGHTER {
	-fx-background-color: linear-gradient(transparent,rgba(200,200,200,0.8));
	-fx-effect: dropshadow(gaussian, rgba(200,200,200,0.8), 10, 0.0, 2, 2);
}

.label {
	-fx-text-fill: white;
}

.button {
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-family: "Calibri";
    -fx-background-color: #d3d3d3;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0.0, 2, 2);
}

.button:hover {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.text-field {
	-fx-background-color: linear-gradient(white, d3d3d3);
	-fx-font-family: "Arial";
}

.choice-box {
	-fx-background-color: #d3d3d3;
}

.choice-box .label {
	-fx-text-fill: black;
}

.choice-box .context-menu {
	-fx-background-color: linear-gradient(white, d3d3d3);
}


