#ARTATAWE1 {
    -fx-font: 45px "Vivaldi";
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, blue 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 0.4;
    
}

#ARTATAWE2 {
    -fx-font: 25px "Vivaldi";
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, blue 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 0.4;
    
}

.button {
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-family: "Calibri";
    -fx-background-color: #d3d3d3;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0.0, 2, 2)
}

.button:hover {
    -fx-background-color: green;
    -fx-text-fill: white;
}